extends ../layout/default.pug

block content
  div(class="layout__content")
    h1 This is main page
    div
      h3 observer
        button(class="btn js-notify") notify subscribers
    div(class="js-person-mary")
      h3 mary
        p(class="js-state") status
        button(class="btn js-subscribe") subscribe Mary
        button(class="btn js-unsubscribe") unsubscribe Mary
