extends ../layout/default.pug

block content
  div(class="layout__content")
    h1 This is main page
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, aut delectus doloremque doloribus eligendi explicabo facilis impedit laudantium, magni nostrum optio quas qui quisquam quo ratione rerum vel velit voluptates!
