header(class="header layout__header")
    nav
      ul(class="menu")
        li(class="menu__item")
          a(class="menu__item-link" href="./index.pug") Main
        li(class="menu__item")
          a(class="menu__item-link" href="/about.pug") About
        li(class="menu__item")
          a(class="menu__item-link" href="/map.pug") YMap

