.container {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $breakpoint-sm) {
    padding-left: 64px;
    padding-right: 64px;
  }

  @media (min-width: $breakpoint-md) {
    padding-left: 93px;
    padding-right: 93px;
  }

  @media (min-width: $breakpoint-lg) {
    padding: 0;
    max-width: 1180px;
    margin: 0 auto;
  }
}
